---

import LogoAurumCustomsSac from "../assets/images/logo_aurum_customs_sac.webp"

interface submenuLista{
  nombre: string,
  ruta: string,
}


interface menuLista{
  nombre: string,
  ruta: string,
  submenu?: submenuLista[],
};

const menu:menuLista[] = [
  {nombre:" Inicio", ruta:"/"},
  {nombre:"Nosotros", ruta:"/nosotros_aurum_custom"},
  {nombre:"Servicios", ruta:"",
   submenu: [
    {nombre:"Agenciamiento de aduanas", ruta:"/agenciamiento-de-aduanas-especializado"},
    {nombre:"Especializado asesoría y consultoría en comercio exterior", ruta:"/especializado-asesoria-y-consultoria-en-comercio-exterior"},
    {nombre:"Servicios Complementarios a su disposición", ruta:"/servicios-complementarios-a-su-disposicion"},
   ]
  },
  {nombre:"Contacto", ruta:"/contacto"},
  {nombre:"Tracking", ruta:"/tracking"},
];

const currentPath = Astro.url.pathname;
---

<header class="fixed top-0 z-50 w-full bg-white font-montserrat lg:hidden">

  <!-- Barra superior -->
  <div class="flex justify-between items-center p-3 border-b border-gray-300">
    <a href="/">
      <img src={LogoAurumCustomsSac.src} class="w-32 h-auto sm:w-36 md:w-40"  loading="eager" fetchpriority="high" alt="Logo Aurum Customs SAC"/>
    </a>

    <iconify-icon
      id="menuIcon"
      icon="line-md:menu"
      width="32"
      class="cursor-pointer"
    ></iconify-icon>
  </div>

  <!-- Menú -->
  <nav
    id="menu"
    class="
      fixed top-16 left-0 w-full
      bg-white
      -translate-y-full opacity-0
      transition-all duration-300 ease-out
      pointer-events-none
    "
  >
    <ul class="flex flex-col gap-3 p-4">
      {menu.map((item) => {
        const isActive =
          currentPath === item.ruta ||
          (item.submenu && item.submenu.some(sub => currentPath === sub.ruta));

        const isTracking = item.ruta === "/tracking";

        return (
          <li>
            {item.submenu ? (
              <>
                {/* Servicios */}
                <button
                  class={`
                    w-full flex justify-between items-center
                    py-2 px-3 rounded font-medium
                    ${isActive ? "text-primario font-bold text-18px" : "text-negro"}
                  `}
                  data-submenu-trigger
                >
                  {item.nombre}
                  <iconify-icon
                    icon="line-md:chevron-down"
                    width="20"
                    class="submenu-icon transition-transform"
                  ></iconify-icon>
                </button>

                <ul
                  class={`
                    submenu ml-3 mt-2 flex flex-col gap-1
                    overflow-hidden transition-all duration-300 ease-out
                    ${
                      isActive
                        ? "max-h-96 opacity-100"
                        : "max-h-0 opacity-0"
                    }
                  `}
                >
                  {item.submenu.map((sub) => {
                    const isSubActive = currentPath === sub.ruta;

                    return (
                      <li>
                        <a
                          href={sub.ruta}
                          aria-label="Visitar páginas de Aurum Metals SAC"
                          class={`
                            block py-1.5 px-3 rounded text-sm
                            ${
                              isSubActive
                                ? " text-primario underline font-bold text-18px"
                                : " text-primario"
                            }
                          `}
                        >
                          {sub.nombre}
                        </a>
                      </li>
                    );
                  })}
                </ul>
              </>
            ) : (
              /* Items normales + Tracking */
              <a
                href={item.ruta}
                aria-label="Visitar páginas de Aurum Metals SAC"
                class={`
                  block py-2 px-3 rounded font-medium 
                  ${
                    isTracking
                      ? isActive
                        ? "bg-secundario/50 text-negro font-bold text-18px"
                        : "bg-secundario/20 text-negro"
                      : isActive
                        ? "text-primario text-18px font-blod"
                        : "text-negro"
                  }
                `}
              >
                {item.nombre}
              </a>
            )}
          </li>
        );
      })}
    </ul>
  </nav>
</header>




<script>
  const icon = document.getElementById("menuIcon");
  const menu = document.getElementById("menu");

  let abierto = false;

  icon?.addEventListener("click", () => {
    abierto = !abierto;
    if(menu){

      menu.classList.toggle("-translate-y-full", !abierto);
      menu.classList.toggle("opacity-0", !abierto);
      menu.classList.toggle("pointer-events-none", !abierto);
    }

    icon.setAttribute(
      "icon",
      abierto
        ? "line-md:menu-to-close-alt-transition"
        : "line-md:close-to-menu-alt-transition"
    );
  });

  // Submenú toggle
  document.querySelectorAll("[data-submenu-trigger]").forEach(btn => {
    btn.addEventListener("click", () => {
      const submenu = btn.nextElementSibling;
      const icon = btn.querySelector(".submenu-icon");
      if(submenu && icon){

        submenu.classList.toggle("max-h-0");
        submenu.classList.toggle("max-h-96");
        submenu.classList.toggle("opacity-0");
        icon.classList.toggle("rotate-180");
      }

    });
  });
</script>


